.container {
  display: flex;
}

.grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  margin: 20px;
}

.grid-user div {
  width: 40px;
  height: 40px;
}

.grid-computer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
  margin: 20px;
}

.grid-computer div {
  width: 40px;
  height: 40px;
}

.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: coral;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: crimson;
  margin: 10px;
  display: flex;
}

.destroyer {
  background-color: crimson;
}

.submarine-container {
  width: 120px;
  height: 40px;
  background-color: blueviolet;
  margin: 10px;
  display: flex;
}

.submarine {
  background-color: blueviolet;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  background-color: yellow;
  margin: 10px;
  display: flex;
}

.cruiser {
  background-color: yellow;
}

.battleship-container {
  width: 160px;
  height: 40px;
  background-color: darkgoldenrod;
  margin: 10px;
  display: flex;
}

.battleship {
  background-color: darkgoldenrod;
}

.carrier-container {
  width: 200px;
  height: 40px;
  background-color: darkgreen;
  margin: 10px;
  display: flex;
}

.carrier {
  background-color: darkgreen;
}

.ship div {
  width: 40px;
  height: 40px;
}
